.board {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 90%;
	height: 90%;
}

.cell {
	border: 1.5px solid grey;
	border-style: inset;
	width: 2.75rem;
	height: 2.75rem;
	background-color: #fff;
}

.whiteCell {
	background-color: white;
}

.hero {
	background-image: url('/src/images/octopus.png');
	background-repeat: no-repeat;
	background-size: cover;
}
