.dashboard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	max-width: 1400px;
	background-color: $color-gray;
	border: 3px solid $color-blue;
	border-radius: 1.5625rem;
	margin: 0 1rem 0 1rem;
	-webkit-box-shadow: 0px 0px 38px -5px rgb(20, 128, 252);
	-moz-box-shadow: 0px 0px 38px -5px rgb(20, 128, 252);
	box-shadow: 0px 0px 38px -5px rgb(20, 128, 252);
	position: relative;

	&__panel {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 70vh;
	}

	&__playerName {
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		font-size: 1rem;
		color: $color-white;
	}

	&__history {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		font-size: 1rem;
		border: 2px solid $color-black;
	}

	&__exit {
		position: absolute;
		left: 1.25rem;
		bottom: 1.25rem;
		width: 2.625rem;
		cursor: pointer;
		transition: all 200ms;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__instruction {
		position: absolute;
		right: 1.25rem;
		bottom: 0.625rem;
		text-align: center;

		p {
			width: 6rem;
			color: $color-white;
			font-size: 0.625rem;
			line-height: 1rem;
			font-weight: 300;

		}
	}

	&__historyPanel {
		position: absolute;
		top: 4.375rem;
		left: 1.25rem;
		max-width: 250px;
		max-height: 200px;
		background: rgba(191, 191, 191, 0.36);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10.6px);
		-webkit-backdrop-filter: blur(10.6px);
		border: 1px solid rgba(191, 191, 191, 0.78);
		padding: 1.25rem 1.75rem 1.25rem 1.75rem;
		font-weight: 500;
		line-height: 1.25rem;
		overflow-y: auto;
		color: $color-white;

		&-close {
			position: absolute;
			left: 0;
			top: 0;
			cursor: pointer;
			transition: all 200ms;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__data {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: rgba(191, 191, 191, 0.36);
		border-radius: 1rem;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10.6px);
		-webkit-backdrop-filter: blur(10.6px);
		border: 1px solid rgba(191, 191, 191, 0.78);
		width: 90%;
		height: 90%;
		border-radius: 1.5625rem;

		&-title {
			font-size: 2.5rem;
			font-weight: bold;
			background: -webkit-linear-gradient($color-blue, $color-black);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&-btn {
			width: 23.125rem;
			margin-top: 0.75rem;
		}

		&-input {
			margin: 0.25rem 0 0.25rem 0;
		}

		&-label {
			font-size: 1.25rem;
			margin: 0.25rem 0 0.25rem 0;
		}
	}
}

.error-input {
	border: 2px solid red !important;
}

.errors {
	color: red;
	margin-top: 1rem;
}