.btn {
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: $color-blue;
    border: 2px solid $color-black;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 200ms;
    
    &:hover {
        transform: scale(1.1);
    }
}